@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
}
body{
    @extend %flex-center;
    width: 100%;
    height: 130vh;
    box-sizing: border-box;
    margin: 0;
    background: rgb(120, 67, 255);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 375px;
    height: 700px;
    #image-div{
        @extend %flex-center;
        margin-top: -115px;
        height: 200px;
        width: 375px;
        background-size: cover;
        #woman-img{
            width: 300px;
            height: 300px;
        }
        #shadow-img{
            height: 135px;
            width: 300px;
            position: absolute;
            margin-bottom: -170px;
        }
    }
    #text-container{
        height: 500px;
        h1{
            font-weight: 700;
            margin: 4.5rem 0 2rem 0;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        .question-container{
            margin: 1rem 1rem;
            padding-bottom: 5px;
            border-bottom: 0.2px solid rgb(193, 193, 193);
        }
        h3{
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;
            color: black;
            width: 330px;
            font-size: 17px;
            font-family: 'Open Sans', sans-serif;
        }
        .h3-span-arrow .img-arrow{
            margin-left: 5px;
            height: 12px;
            width: 15px;
        }
        .answer{
            margin-top: 3px;
            color: rgb(76, 76, 76);
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            width: 330px;
            display: none;
            font-size: 13px;
        }
    }
}